version: "3.7"

services:
  {{env['DOCKER_SERVICE']}}:
    image: microsoft/mssql-server-linux:2017-latest
    ports:
      - :1433
    environment:
      SA_PASSWORD: {{env['SA_PASSWORD']}}
      ACCEPT_EULA: "Y"
    {% if env['PERSISTENCE_DRIVER']|length -%}
    volumes:
      - {{env['DOCKER_SERVICE']}}-data:/var/lib/sql_server/data
    {%+ endif -%}

{% if env['PERSISTENCE_DRIVER']|length %}
volumes:
  {{env['DOCKER_SERVICE']}}-data:
    {% if env['PERSISTENCE_DRIVER'] == "vxflex" -%}
    driver: rexray/scaleio
    driver_opts:
      size: 20
{% elif env['PERSISTENCE_DRIVER'] == "nfs" -%}
    driver: local
    driver_opts:
      type: nfs
      o: {{env['NFS_SERVER']}},rw
      device: ":{{env['nfs_share']}}/{{env['DOCKER_STACK']}}"
{% endif %}
{%+ endif -%}
